mat-cell.master-row:not(.expanded-row):hover {
    background: whitesmoke;
}

mat-cell.master-row:not(.expanded-row):active {
    background: #efefef;
}

mat-row.detail-row {
    min-height: 0;
}

element-detail {
    overflow: hidden;
    display: flex;
}
